.clone{
    background-color: var(--fundo-clone-sites);
}
.clone-sites{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88vh;
    width: 100%;
    background-color: var(--fundo-clone-sites);
}
.clone-description{
    border: 2px solid var(--celestial-chic);
    border-radius: 20px;
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    width: 60%;
    height: 65%;
}
.clone-title h3, .clone-subtitle h4{
    color: rgb(59, 59, 59);
    padding: 20px;
}
.clone-subtitle h4 a{
    color: var(--pagina-unity);
}
.clone-title h3{
    font-size: 17px;
    color: var(--font-color);
}
#unity-poster img{
    border: 3px solid var(--pagina-unity);
    border-radius: 10px;
}
#spotify-poster img{
    border: 3px solid var(--spotify);
    border-radius: 10px;
}
#gartic-poster img{
    border: 3px solid var(--gartic);
    border-radius: 10px;
}
