#avf-text{
    color: var(--avf-poster);
}
#fastask-text{
    color: var(--fastask-font);
}
#guia-text{
    color: var(--guia-poster);
}
#unity-text{
    color: var(--pagina-unity);
}
#gartic-text{
    color: var(--gartic);
}
#projects{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;

    & .projects-content{
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .choose-column{
            height: 100%;
            width: 15%;

            & button{
                background-color: var(--background-white);
                border: none;
                height: 33.3%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-top: 3px solid var(--mobile-menu-border);
                border-right: 3px solid var(--mobile-menu-border);

                &#front-end-button{
                    border-right: 3px solid var(--front-end-background);
                }
            }
        }
        .preview-card{
            display: none;
        }
        #projects-card{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            & #front-end-projects{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--front-end-background);
                border: 3px solid var(--front-end-border);
                border-left: none;

                & .title{
                    width: 100%;
                    height: 25%;
                    margin-bottom: 20px;
                    
                    & h3, h4{
                        margin: 10px;
                        color: var(--front-end-font);
                    }
                    & h3{
                        font-size: 25px;
                    }
                }
                & .main-card{
                    height: 70%;
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    & .image{
                        width: 22%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        & a{
                            width: 90%;
                            height: 90%;

                            & img{
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                                border: 3px solid var(--front-end-border);
                                border-radius: 7px;
                                transition: all 0.2s linear;

                                &:hover{
                                    border: 3px solid var(--avf-poster);
                                }
                            }
                        }
                    }
                    & .tab-pages-container{
                        width: 75%;
                        height: 90%;
                        
                        & .text-button{
                            width: 99.2%;
                            height: 100%;
                            border-radius: 7px;
                            background-color: var(--avf-background);
                            border: 3px solid var(--avf-poster);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            transition: all 0.2s linear;
                            
                            & .tecnologies{
                                width: 95%;
                                height: 10%;
                                display: flex;
                                align-items: center;
                                
                                & h6{
                                    transition: all 0.2s linear;
                                    font-size: 20px;
                                    color: var(--avf-poster);

                                    & i{
                                        font-size: 25px;
                                        margin-right: 10px;
                                    }
                                }
                            }
                            & .tab-pages-text{
                                width: 95%;
                                height: 50%;
                                display: flex;
                                align-items: start;
                                justify-content: center;

                                & h5{
                                    margin-top: 20px;
                                    font-size: 18px;
                                }
                                & b{
                                    font-size: 20px;
                                }
                            }
                            & .text-buttons{
                                width: 95%;
                                height: 15%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                & .buttons{
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    & a{
                                        width: 30%;
                                        height: 40px;
                                        text-decoration: none;

                                        & button{
                                            cursor: pointer;
                                            display: flex;
                                            width: 100%;
                                            height: 100%;
                                            justify-content: space-between;
                                            align-items: center;
                                            padding: 0px 10px 0px 10px;
                                            border-radius: 10px;
                                            border: none;
                                            font-size: 15px;
                                            font-weight: bolder;
    
                                            & i{
                                                font-size: 20px;
                                            }
                                            &#site{
                                                color: white;
                                                border: 2px solid white;
                                                background-color: var(--fastask-poster);
                                            }
                                            &#github{
                                                border: 2px solid #ffffff;
                                                background-color: rgb(0, 0, 0);
                                                color: white;
    
                                                & i{
                                                    font-size: 25px;
                                                }
                                            }
                                            &#design{
                                                border: 2px solid #0ACF83;
                                                background-color: #1E1E1E;
                                                color: #1ABCFE;
                                            }
                                        }
                                    }
                                }
                            }
                            & .tab-buttons{
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                width: 100%;
                                height: 20%;

                                & button{
                                    transition: all 0.2s linear;
                                    padding: 10px 40px 10px 40px;
                                    font-size: 17px;
                                    color: var(--avf-poster);
                                    background-color: var(--avf-background);
                                    border: 3px solid var(--avf-poster);
                                    font-weight: bolder;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.tab-selected{
    border-radius: 7px 7px 0px 0px !important;
    border-left: 3px solid var(--avf-poster) !important;
    border-right: 3px solid var(--avf-poster) !important;
    border-top: 3px solid var(--avf-poster) !important;
    border-bottom: none !important;
}