:root{
    --fundo-clone-sites: #74a1c7;
    --fundo-about-me: #b7d0e4;
    --fundo-landing-page: #98bbd8;
    --contatos-gradiente-1:#363d61;
    --contatos-gradiente-2: #304552;
    --contatos-gradiente-3: #532e45;
    --contatos-hover-borda: #afafaf;    
    --contatos-hover-background: #232535;
    --hover-white: #b9c9db;
    --font-color: #234d7a;
    --background-white:  #e0e0e0;
    --mobile-menu-color: #cecccc;
    --mobile-menu-border: #7b94a3;
}
.darkMode{
    --fundo-clone-sites: #3c3357;
    --fundo-about-me: #171329;
    --fundo-landing-page: #312a53;
    --contatos-gradiente-1:#1e295e;
    --contatos-gradiente-2: #123f58;
    --contatos-gradiente-3: #50183b;
    --contatos-hover-borda: #7b94a3;
    --contatos-hover-background: #151830;
    --background-white:#171923;
    --hover-white:#232535;
    --font-color:#c5cddb;
    --mobile-menu-color: #171923;
    --mobile-menu-border: #afafaf;
}
.projects-pallets{
    --gartic: #feca21;
    --spotify: #1ED760;
    --pagina-unity: #8d8d8d;
    --celestial-chic: #e23d01;
    --em-progresso: #afafaf;
}
