@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
.open{
    display: none !important;
}
:root {
    --background-white:  #cecccc;
    --hover-white: #dfdede;
    --font-color: #353535;
    --mobile-menu-color: #cecccc;
    --mobile-menu-border: #929292;
  }
.darkMode{
    --background-white:#171923;
    --hover-white:#232535;
    --font-color:#c5cddb;
    --mobile-menu-color: #171923;
    --mobile-menu-border: #afafaf;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-white);
}
.blur-effect {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: absolute;
}
p{
    color: var(--font-color);
}
h1{
    color: var(--font-color);
}
.header .moon-icon{
    margin-right: 0;
}
.header{
    margin-top: 15px;
    background-color: var(--background-white);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.header .header-mobile-button{
    display: none;
}
.mobile-menu{
    display: none;
}
.header-bar{
    margin-right: 50px;
    cursor: pointer;
}
.header-bar a{
    text-decoration: none;
    color: var(--font-color);
    padding: 9px;
}
.header-bar a:hover{
    background-color: var(--hover-white);
    border-radius: 6px;
}
.header .header-home a{
    font-weight: 700;
}
.contend{
    width: 90%;
    padding-top: 5%;
    height: 450px;
    margin-left: 3%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
}
.contend .picture{
    text-align: center;
}
.contend .picture img{  
    height: 288px;
    width: 288px;
}
.contend .name{
    font-size: 35px;
}
.contend .profile{
    font-weight: bold;
    font-size: 35px;
}
.contend .my-description{
    font-size: 20px;
}
.contend .perfil{
    margin-top: 15px;
    text-align: center;
}
.contatos img{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
.contatos{
    margin-top: 20px;
    display: none;
    justify-content: center;
}
.contatos a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 15px;
}
.projects{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects .title{
    font-weight: bold;
    font-size: 25px;
}
.projects .works{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    width: 90%;
    height: 29pc;
    border-radius: 8px;
    background-color: var(--hover-white);
    border: 2px solid var(--mobile-menu-border);
}
.projects .works .work-images{
    margin: 10px;
    background-color: var(--font-color);
    width: 250px;
    height: 430px;
    border-radius: 10px;
}
.projects .works .work-images img{
    width: 250px;
    height: 430px;
    border-radius: 10px;
}
.projects .works .work-images:hover{
    width: 280px;
    height: 460px;
    transition: all 200ms;
}
.projects .works .work-images img:hover{
    width: 280px;
    height: 460px;
    transition: all 200ms;
}
.projects .works .work-last{
    align-items: center;
    margin-right: 0;
    display: block;
}
@media screen and (max-width: 1300px){
    hr{
        display: none;
    }
    .contend{
        display: block;
    }
    .contend .perfil{
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-right: 1%;
        text-align: center;
    }
    .projects .works{
        overflow: hidden;
    }
}
@media screen and (max-width: 650px){
    .contend .description{
        flex-direction: column;
    }
    .header-bar{
        display: none;
    }
    .header .header-mobile-button button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .header .header-mobile-button img{
        width: 25px;
        height: 25px;
    }
    .header .header-mobile-button{ 
        display: block;
        padding-right: 4%;
    }
    .mobile-menu .header-home{
        font-weight: 700;
    }
    .header{
        margin: 0;
        background-color: var(--background-white);
        display: flex;
        justify-content: right;
    }
    .mobile-menu{
        width: 99%;
        background-color: var(--background-white);
        display: flex;
        align-items: center;
        flex-direction: column;
        position: fixed;
    }
    .mobile-menu .header-bar{
        width: 100%;
        margin-left: 55px;
        font-size: 20px;
        border-bottom: 2px solid var(--mobile-menu-border);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu .header-bar:hover{
        background-color: var(--hover-white);
    }
    .projects .works{
        display: flex;
        width: 60%;
        height: 99%;
    }
    .projects .works .work-images{
        background-color: var(--font-color);
        width: 250px;
        height: 430px;
        border-radius: 10px;
    }
    .projects .works .work-images img{
        width: 250px;
        height: 430px;
        border-radius: 10px;
    }
    .projects .works .work-images:hover{
        width: 280px;
        height: 460px;
        transition: all 200ms;
    }
    .projects .works .work-images img:hover{
        width: 280px;
        height: 460px;
        transition: all 200ms;
    }
    .projects .works .work-last{
        align-items: center;
        margin-right: 0;
        display: block;
    }
}
@media screen and (max-width: 300px){
    .header .header-mobile-button{
        display: block;
        padding-left: 5%;
    }
    .header{
        display: flex;
        justify-content: left;
    }
}
