header{
    width: 90%;
    margin-top: 20px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
section#projects{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #projects-container{
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        #projects-content{
            width: 95%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #video{
                width: 650px;
                height: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &:after{
                    position: absolute;
                    width: 0px;
                    height: 100%;
                    content: '';
                    background-color: var(--red);
                    top: 0;
                    right: 0;
                    z-index: 2;
                }
                &.previousVideo:after{
                    animation: previousVideoAfter .1s linear alternate 2;
                }
                &:before{
                    position: absolute;
                    width: 0px;
                    height: 100%;
                    content: '';
                    background-color: var(--red);
                    top: 0;
                    left: 0;
                    z-index: 3;
                }
                &.nextVideo:before{
                    animation: previousVideoAfter .1s linear alternate 2;
                }
                video{
                    width: inherit;
                    height: inherit;
                    border: 3px solid var(--red);
                    position: absolute;
                }
                #loader-container{
                    background-color: var(--gray-one);
                    position: absolute;
                    height: inherit;
                    width: inherit;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    z-index: 3;
                }
                #filter{
                    z-index: 1;
                    width: inherit;
                    height: inherit;
                    background-color: #000000a1;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    position: absolute;

                    #help-button{
                        top: 0;
                        right: 0;
                        width: 37px;
                        position: absolute;
                        margin: 10px 10px 0px 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: end;

                        button{
                            width: 40px;
                            height: 40px;
                            border: none;
                            cursor: pointer;
                            transition: all .3s;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            overflow: hidden;
                            background-color: transparent;

                            &:hover{
                                height: 100px;
                            }
                        }
                    }
                    #video-buttons{
                        width: 100%;
                        height: 40px;
                        display: none;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #000000a1;
                        padding: 10px;
                        flex-direction: column;

                        #help-container{
                            background-color: var(--gray-two);
                            width: 0px;
                            height: 0px;
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            transition: all .3s;
                            border-radius: 7px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            #help-container-content{
                                padding: 10px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: 10px;
                                overflow: hidden;
                                opacity: 0%;
                                transition: all .2s;

                                p{
                                    line-height: 200%;
                                    display: flex;
                                    align-items: center;

                                    a{

                                        i{
                                            margin-left: 10px;
                                            font-size: 30px;
                                        }
                                    }
                                }
                            }
                        }
                        #help-button{
                            background-color: var(--red);
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all .3s;
                            cursor: pointer;
                            border: none;

                            p{
                                font-size: 30px;
                            }
                            &:hover{
                                box-shadow: 0px 0px 20px var(--dark-red);
                                background-color: var(--dark-red);
                                transform: rotate(360deg);
                            }
                            &.help-button-actived{
                                box-shadow: 0px 0px 20px lime !important;
                                background-color: lime !important;
                            }
                        }
                        #buttons-container{
                            width: 100%;
                            height: 30px;
                            display: flex;
                            justify-content: space-between;

                            button{
                                cursor: pointer;
                                border: none;
                                background-color: transparent;
                            }
                            #buttons-left{
                                display: flex;
                                align-items: center;

                                p{
                                    margin-left: 15px;
                                }
                            }
                            #buttons-right{
                                img{
                                    margin-left: 10px;
                                }
                            }
                        }
                        #progress-bar-container{
                            width: 100%;
                            height: 10px;
                            display: flex;
                            align-items: center;

                            #progress-bar{
                                width: 100%;
                                height: 5px;
                                background-color: var(--red);
                                position: relative;
                                display: flex;
                                align-items: center;
                                z-index: 1;

                                &:after{
                                    content: '';
                                    position: absolute;
                                    width: 11px;
                                    height: 11px;
                                    border-radius: 50%;
                                    background-color: var(--red);
                                    right: 0;
                                }
                            }
                            #progress-bar-white{
                                width: 97%;
                                height: 5px;
                                background-color: white;
                                position: absolute;
                            }
                        }
                    }
                }
                #play-button{
                    z-index: 2;
                    cursor: pointer;
                    position: absolute;
                    left: 301px;

                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
            }
            #project-text{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;

                h2, i, a{
                    transition: all .5s;
                    color: var(--theme);
                    animation: var(--software-anima);
                }
                a{
                    text-decoration: none;
                    cursor: pointer;
                }
                #project-description{

                    h2, h3{
                        width: 100%;
                        text-align: center;
                    }
                    h2{
                        margin: 15px 0px;
                    }
                }
                #project-button{
                    width: 100%;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    #tecnologies{
                        gap: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        i{
                            font-size: 35px;
                            margin-right: 5px;
                        }
                    }
                }
                #project-status-bar{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    #status-circles{
                        width: 14%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        position: relative;
                        overflow: hidden;

                        .circle{
                            width: 10px;
                            height: 10px;
                            background-color: var(--red);
                            border-radius: 50%;
                            cursor: pointer;
                            position: absolute;
                            animation-duration: .5s;
                            
                            &:nth-child(1){
                                left: -10px;
                            }
                            &:nth-child(2){
                                left: 0;
                            }
                            &:nth-child(3){
                                background-color: transparent;
                                border: 2px solid var(--red);
                                width: 12px;
                                height: 12px;
                            }
                            &:nth-child(4){
                                right: 1px;
                            }
                        }
                    }
                    #arrow-right, #arrow-left{
                        display: flex;
                        align-items: center;
                        width: 37%;
                        height: 100%;

                        img{
                            width: 100%;
                            cursor: pointer;
                        }
                    }
                    #arrow-right{
                        justify-content: right;
                    }
                    #arrow-left{
                        justify-content: left;
                    }
                }
            }
        }
    }
    #projects-carousel{
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 20px;
        position: relative;

        &:after{
            top: 0px;
            left: 0px;
            position: absolute;
            width: 100px;
            height: 100%;
            content: '';
            background-image: linear-gradient(to right, #000, #1110);
        }
        &:before{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100px;
            height: 100%;
            content: '';
            background-image: linear-gradient(to left, #000, #1110);
            z-index: 1;
        }
        &::-webkit-scrollbar{
            background-color: transparent;
        }
        &::-webkit-scrollbar-corner{
            background-color: transparent;
        }
        #images-line-one, #images-line-two{
            display: flex;
            align-items: center;
            gap: 20px;
            animation: carousel 8s linear infinite;
            height: 100%;

            img{
                width: 200px;
                height: 80px;
                transition: all .5s;
                cursor: pointer;
    
                &.project-selected{
                    border: 3px solid var(--red);
                }
            }
        }
        &:hover{
            #images-line-one, #images-line-two{
                animation-play-state: paused;
            }
        }
    }
}