header{
    width: 90%;
    margin-top: 20px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
section#projects{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#projects .projects-content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section#projects .projects-content .projects-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}
section#projects .projects-content .projects-title .message{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section#projects .projects-content .projects-cards{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
section#projects .projects-content .projects-cards a{
    display: flex;
    align-items: center;
    justify-content: center;
}
section#projects .projects-content .projects-cards img{
    width: 90%;
    height: 70%;
    border: 3px solid var(--red);
}
section#projects .projects-content .projects-cards .project-filter{
    position: absolute;
    width: 26.5%;
    height: 20.7%;
    backdrop-filter: blur(0px);
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section#projects .projects-content .projects-cards .project-filter .filter-content{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
section#projects .projects-content .projects-cards .project-filter .filter-content .github-project-button{
    background-color: black;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    opacity: 0%;
    cursor: help;

    & i{
        font-size: 10px;
    }
}
section#projects .projects-content .projects-cards .project-filter .filter-content i{
    opacity: 0%;
    font-size: 20px;
    transition: all 0.5s;
}
section#projects .projects-content .projects-cards .project-filter p{
    transition: all .5s;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    opacity: 0%;
}
section#projects .projects-content .projects-cards a:hover .project-filter{
    & p{
        opacity: 100%;
        font-size: 20px;
    }
    & i{
        opacity: 100%;
        font-size: 40px;
    }
    & .github-project-button i{
        font-size: 30px;
    }
    & .github-project-button{
        opacity: 100%;
    }
}
.academia{
    color: #f07421;
}
.fastask{
    color: #228BE6;
}
.unity{
    color: white;
}
.consul{
    color: #408CFF;
}
.modern-software{
    animation: changeColor 26s infinite;
}
section#projects .projects-content .projects-cards a:hover .project-filter{
    position: absolute;
    backdrop-filter: blur(10px);
}
section#projects .projects-content .projects-cards a:hover img{
    border: 3px solid var(--dark-red);
}