header{
    width: 90%;
    margin-top: 20px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
section#projects{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #projects-container{
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        #projects-content{
            width: 95%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #video{
                width: 650px;
                height: 350px;
                display: flex;
                align-items: center;
                justify-content: center;

                video{
                    width: inherit;
                    height: inherit;
                    border: 3px solid var(--red);
                    position: absolute;
                }
                #filter{
                    z-index: 1;
                    width: inherit;
                    height: inherit;
                    background-color: #000000a1;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    position: absolute;

                    #video-buttons{
                        width: 100%;
                        height: 30px;
                        display: none;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #000000a1;
                        padding: 10px;

                        button{
                            cursor: pointer;
                            border: none;
                            background-color: transparent;
                        }
                        #buttons-right{
                            img{
                                margin-left: 10px;
                            }
                        }
                    }
                }
                #play-button{
                    z-index: 2;
                    cursor: pointer;
                    position: absolute;

                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
                #minus-five, #plus-five{
                    position: absolute;
                    z-index: 1;
                    cursor: default;

                    p{
                        font-weight: bold;
                        font-size: 30px;
                        color: var(--red);
                    }
                }
            }
            #project-text{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2, i{
                    color: var(--consul);
                }
                #project-description{

                    h2, h3{
                        width: 100%;
                        text-align: center;
                    }
                    h2{
                        margin: 15px 0px;
                    }
                }
                #project-button{
                    width: 100%;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    #tecnologies{
                        gap: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        i{
                            font-size: 35px;
                            margin-right: 5px;
                        }
                    }
                }
                #project-status-bar{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    #status-circles{
                        width: 14%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .circle{
                            width: 10px;
                            height: 10px;
                            background-color: var(--red);
                            border-radius: 50%;

                            &.main-circle{
                                background-color: transparent;
                                width: 12px;
                                height: 12px;
                                border: 2px solid var(--red);
                            }
                        }
                    }
                    #arrow-right, #arrow-left{
                        display: flex;
                        align-items: center;
                        width: 37%;
                        height: 100%;

                        img{
                            width: 100%;
                            cursor: pointer;
                        }
                    }
                    #arrow-right{
                        justify-content: right;
                    }
                    #arrow-left{
                        justify-content: left;
                    }
                }
            }
        }
    }
    #projects-carousel{
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        gap: 20px;

        &::-webkit-scrollbar{
            background-color: transparent;
        }
        &::-webkit-scrollbar-corner{
            background-color: transparent;
        }
        #images-line-one, #images-line-two{
            display: flex;
            align-items: center;
            gap: 20px;
            animation: carousel 8s linear infinite;
            height: 100%;

            img{
                width: 200px;
                height: 80px;
                transition: all .5s;
                cursor: pointer;
    
                &.project-selected{
                    border: 3px solid var(--red);
                }
            }
        }
        &:hover{
            #images-line-one, #images-line-two{
                animation-play-state: paused;
            }
        }
    }
}