@media screen and (max-width: 1440px){
    main{
        width: 98.5vw;
    }
    section#projects .projects-content .projects-cards img{
        width: 390px;
        height: 180px;
    }
    section#projects .projects-content .projects-cards .project-filter{
        width: 390px;
        height: 180px;
    }
    section#projects .projects-content .projects-cards a:hover .project-filter{
        width: 390px;
        height: 180px;
    }
}
@media screen and (max-width: 1300px){
    .main-message{
        width: 68%;
    }

    /*#region*/
    section#services .services-cards{
        flex-direction: column;
        gap: 30px;
        height: 70%;
    }
    section#services .services-cards .card{
        flex-direction: row;
        width: 95%;
        height: 200px;
        gap: 30px;
    }
    section#services .services-cards .card h4{
        text-align: start;
        font-size: 15px;
    }
    section#services .services-cards .card img{
        height: 110px;
    }

    /*#region*/
    section#projects .projects-content .projects-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    section#projects .projects-content .projects-cards .soon-card{
        display: none;
    }
    
    /*#region*/
    @media screen and (min-height: 800px){
        section#services .services-cards .card h4{
            text-align: start;
            font-size: 25px;
        }
        section#services .services-cards .card img{
            height: 110px;
        }
        section#projects .projects-content .projects-cards .soon-card{
            display: grid;
        }
    }
}
@media screen and (max-width: 1050px){
    header .perfil-message{
        display: none;
    }
    .main-message{
        width: 85%;
    }
    section .about-me-content .perfil-photo{
        display: none;
    }
    section .about-me-content .about-me-message{
        width: 100%;
        height: 100%;
    }
    header .header-bar{
        width: 100%;
    }
    section#projects .projects-content{
        overflow-x: hidden;
    }

    @media screen and (min-height: 800px){
        .main-screen-content{
            align-items: center;
        }
        .main-message{
            width: 80%;
            height: 300px;
            text-align: center;
        }
        .main-message b{
            display: block;
        }
        .main-message #main-subtitle{
            display: none;
        }
    }
}
@media screen and (max-width:850px){
    section#projects .projects-content .projects-cards{
        display: none;
    }
    header{
        display: none;
    }
    .text-weight{
        font-size: 20px;
        font-weight: 300;
    }
    .main-weight{
        font-size: 35px;
        text-align: center;
    }
    .section-weight{
        font-size: 40px;
        font-weight: bold;
    }
    #main-subtitle{
        display: none;
    }
    main section .main-screen-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    section#services .services-cards .card img{
        display: none;
    }
    footer .footer-content #logo{
        width: 30%;
        cursor: pointer;
    }
    footer .footer-one h3{
        font-size: 30px;
    }
    .main-screen-content{
        height: 100%;
    }
    main #main-first-section{
        flex-direction: column;
    }
    .main-header-mobile{
        top: 0;
        display: block;
        background-color: var(--gray-one);
        width: 100%;
        height: auto;
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        position: absolute;
    }
    .main-header-mobile #hamburguer-menu-icon{
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main-header-mobile #hamburguer-menu-icon .line{
        background-color: white;
        width: 40px;
        margin-top: 5px;
        animation-duration: .1s;
        animation-timing-function: linear;
        animation-name: '';
    }
    .main-header-mobile #hamburguer-menu-icon .line:nth-child(1){
        margin-top: 0px;
    }
    #hamburguer-menu-sidebar{
        right: 0;
        height: 0vh;
        width: 100%;
        background-color: transparent;
        z-index: 1;
        display: none;
        align-items: end;
        justify-content: start;
        flex-direction: column;
        animation-duration: .2s;
        animation-timing-function: linear;
    }
    #hamburguer-menu-sidebar a{
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--dark-red);
        border-top: 2px solid var(--footer);
        border-left: 0px;
        border-right: 0px;
        text-decoration: none;
    }
    #hamburguer-menu-sidebar a:hover{
        background-color: var(--dark-red);
    }
    #hamburguer-menu-sidebar span{
        font-size: 25px;
        font-weight: bold;
    }
    #hamburguer-menu-sidebar a:nth-child(1){
        animation-delay: .1s;
    }
    #hamburguer-menu-sidebar a:nth-child(2){
        animation-delay: .2s;
    }
    #hamburguer-menu-sidebar a:nth-child(3){
        animation-delay: .3s;
    }
    #hamburguer-menu-sidebar a:nth-child(4){
        animation-delay: .4s;
    }
    #hamburguer-menu-sidebar a:nth-child(5){
        animation-delay: .5s;
        border-bottom: 2px solid var(--footer);
    }
    #mobile-menu-projects{
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }
    #mobile-menu-projects .mobile-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile-menu-projects .mobile-card a{
        width: 95%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--red);
    }
    #mobile-menu-projects .mobile-card a img{
        width: 100%;
        height: 100%;
    }
    #mobile-menu-projects .mobile-card button{
        width: 100%;
        font-size: 20px;
        color: var(--dark-red);
        background-color: var(--footer);
        border: none;
        padding: 10px 0px;
        font-weight: bold;
        margin: 20px 0px;
        border-radius: 3px;
    }
    #mobile-menu-projects .mobile-card button b.unity{
        color: black;
    }
    section#projects .projects-content .projects-title{
        flex-direction: column;
        height: 230px;
    }
    section#projects .projects-content .projects-title button{
        width: 100%;
    }
    section#projects .projects-content .projects-title .message{
        width: 100%;
    }
}
@media screen and (min-height: 800px) and (min-width:900px){
    .contact-button{
        font-size: 30px;
        width: 400px;
        height: 90px;
    }
    .letter-spacing{
        letter-spacing: 5px;
    }
    .text-weight{
        font-size: 30px;
        font-weight: 300;
    }
    .main-weight{
        font-size: 70px;
    }
    .section-weight{
        font-size: 60px;
    }
    span.section-weight{
        font-size: 40px;
    }
    section#services .services-cards .card img{
        width: 150px;
    }
}