@media screen and (max-width: 1440px){
    main{
        width: 98.5vw;
    }
    section#projects .projects-content .projects-cards img{
        width: 390px;
        height: 180px;
    }
    section#projects .projects-content .projects-cards .project-filter{
        width: 390px;
        height: 180px;
    }
    section#projects .projects-content .projects-cards a:hover .project-filter{
        width: 390px;
        height: 180px;
    }
}
@media screen and (max-width: 1300px){
    .main-message{
        width: 68%;
    }

    /*#region*/
    section#services .services-cards{
        flex-direction: column;
        gap: 30px;
        height: 70%;
    }
    section#services .services-cards .card{
        flex-direction: row;
        width: 95%;
        height: 200px;
        gap: 30px;
    }
    section#services .services-cards .card h4{
        text-align: start;
        font-size: 15px;
    }
    section#services .services-cards .card img{
        height: 110px;
    }

    /*#region*/
    section#projects .projects-content .projects-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    section#projects .projects-content .projects-cards .soon-card{
        display: none;
    }
    
    /*#region*/
    @media screen and (min-height: 800px){
        section#services .services-cards .card h4{
            text-align: start;
            font-size: 25px;
        }
        section#services .services-cards .card img{
            height: 110px;
        }
        section#projects .projects-content .projects-cards .soon-card{
            display: grid;
        }
    }
}
@media screen and (max-width: 1050px){
    header .perfil-message{
        display: none;
    }
    .main-message{
        width: 85%;
    }
    section .about-me-content .perfil-photo{
        display: none;
    }
    section .about-me-content .about-me-message{
        width: 100%;
        height: 100%;
    }
    header .header-bar{
        width: 100%;
    }
    section#projects .projects-content{
        overflow-x: hidden;
    }

    @media screen and (min-height: 800px){
        .main-screen-content{
            align-items: center;
        }
        .main-message{
            width: 80%;
            height: 300px;
            text-align: center;
        }
        .main-message b{
            display: block;
        }
        .main-message #main-subtitle{
            display: none;
        }
    }
}
@media screen and (max-width:850px){
    section#projects .projects-content .projects-cards{
        display: none;
    }
    header{
        display: none;
    }
    .text-weight{
        font-size: 20px;
        font-weight: 300;
    }
    .main-weight{
        font-size: 35px;
        text-align: center;
    }
    .section-weight{
        font-size: 40px;
        font-weight: bold;
    }
    #main-subtitle{
        display: none;
    }
    main section .main-screen-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    section#services .services-cards .card img{
        display: none;
    }
    footer .footer-content #logo{
        width: 30%;
        cursor: pointer;
    }
    footer .footer-one h3{
        font-size: 30px;
    }
}
@media screen and (min-height: 800px){
    .contact-button{
        font-size: 30px;
        width: 400px;
        height: 90px;
    }
    .letter-spacing{
        letter-spacing: 5px;
    }
    .text-weight{
        font-size: 30px;
        font-weight: 300;
    }
    .main-weight{
        font-size: 70px;
    }
    .section-weight{
        font-size: 60px;
    }
    span.section-weight{
        font-size: 40px;
    }
    section#services .services-cards .card img{
        width: 150px;
    }

}