main{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/portifolio-background.png);
    background-repeat: no-repeat;
    background-position: left end;
    scroll-snap-type: y mandatory;
    animation: anima 7s alternate infinite;
    background-attachment: fixed;
}
#main-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
section{
    position: sticky;
    top: 0;
    left: 0;
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-screen-content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-message{
    width: 60%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-message b{
    color: var(--red);
}

/*#endregion*/

/*#region*/

#contact-screen{
    position: absolute;
    background-image: url(../images/portifolio-background.png);
    background-position: left end;
    background-repeat: no-repeat;
    animation: anima 10s alternate infinite;
    width: 100%;
    height: 100%;
}
#contact-screen .contact-filter{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
#contact-screen .exit-line{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#contact-screen .exit-line #exit-button{
    font-size: 50px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}
#contact-screen .contact-content{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-screen .contact-content #contact-card{
    background-color: var(--background);
    width: 400px;
    height: 90%;
    border: 3px solid var(--dark-red);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    gap: 20px;
}
#contact-screen .contact-content #contact-card .contact-options{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#contact-screen .contact-content #contact-card .contact-options i{
    color: var(--footer);
    font-size: 40px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}
#contact-screen .contact-content #contact-card .contact-options i:hover{
    border: 1px solid var(--gray-one);
}
#contact-screen .contact-content #contact-card .contact-options-content{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-screen .contact-content #contact-card .contact-options-content img{
    width: 200px;
    border-radius: 50%;
    border: 3px solid var(--dark-red);
}
#contact-screen .contact-content #contact-card .contact-options-content button{
    background-color: var(--gray-one);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}
.contact-selected{
    color: var(--red) !important;
    border: 2px solid var(--gray-one) !important;
    background-color: var(--gray-two) !important;
}
.line-contact{
    width: 95%;
}
.options{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.options#email-content{
    height: 100%;
}
#contact-screen .contact-content #contact-card .contact-options-content #instagram-content button{
    background: linear-gradient(to right, #f07421, #ed342b, #d1217f);
}
#contact-screen .contact-content #contact-card .contact-options-content #whatsapp-content button{
    background-color: #29a71a;
}
#contact-screen .contact-content #contact-card .contact-options-content #linkedin-content button{
    background-color: #0277b5;
}
#contact-screen .contact-content #contact-card .contact-options-content #linkedin-content button a{
    color: var(--background);
}
#contact-screen .contact-content #contact-card .contact-options-content #github-content button{
    background-color: black;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content button{
    width: 102%;
    color: black;
    background-color: var(--dark-red);
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content p{
    font-size: 15px;
    position: absolute;
    color: var(--red);
    margin: 29px 0px 0px 10px;
    transition: all 0.3s;
    font-weight: bold;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content p#to-p{
    margin: 0px;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content #message-container{
    height: 130px;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content textarea{
    width: 99%;
    height: 100%;
    resize: none;
    background-color: var(--gray-two);
    margin-top: 20px;
    padding: 10px 0px 10px 10px;
    overflow: hidden;
    border-radius: 5px;
    border: none;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content input{
    background-color: var(--gray-two);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    margin-top: 20px;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content input:focus, textarea:focus{
    outline: 1px solid var(--dark-red);
}

/*#endregion*/