@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
.hidden{
    display: none !important;
}
.text-weight{
    font-size: 20px;
    font-weight: 300;
}
.main-weight{
    font-size: 49px;
}
.section-weight{
    font-size: 40px;
    font-weight: bold;
}
span.section-weight{
    font-size: 30px;
}
.letter-spacing{
    letter-spacing: 5px;
    font-size: 20px;
}
.line{
    width: 100px;
    height: 5px;
    background-color: var(--red);
    border-radius: 10px;
}
.contact-button{
    background-color: var(--red);
    padding: 10px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    overflow: hidden;
}
.contact-button:hover{
    background-color: var(--dark-red);
}
.contact-button:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--footer);
    top: 0px;
    bottom: auto;
    left: -10px;
    transform: skewX(-15deg);
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-button:hover:after{
    width: 110%;
    content: 'Contact me';
    color: var(--gray-two);
    font-weight: bolder;
}
body{
    background-color: var(--background);
}
.main-header-mobile{
    display: none;
}
#hamburguer-menu-sidebar{
    display: none;
}
#mobile-menu-projects{
    display: none;
}
@keyframes anima{
    0%{
        background-position-x: left;
    }
    100%{
        background-position-x: center;
    }
}
@keyframes changeColor {
    0% {color: #3F51B5; }
    4% {color: #009688; }
    8% {color: #FF5722; }
    12% {color: #607D8B; }
    16% {color: #FF9800; }
    20% {color: #9C27B0; }
    24% {color: #2196F3; }
    28% {color: #EA676C; }
    32% {color: #E41A4A; }
    36% {color: #5978BB; }
    40% {color: #018790; }
    44% {color: #0E3441; }
    48% {color: #00B0AD; }
    52% {color: #721D47; }
    56% {color: #EA4833; }
    60% {color: #EF937E; }
    64% {color: #F37521; }
    68% {color: #A12059; }
    72% {color: #126881; }
    76% {color: #8BC240; }
    80% {color: #364D5B; }
    84% {color: #C7DC5B; }
    88% {color: #0094BC; }
    92% {color: #E4126B; }
    96% {color: #43B76E; }
    100% {color: #7BCFE9; }
}
@keyframes translateRight{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(50deg);
    }
}
@keyframes translateLeft{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-50deg);
    }
}
@keyframes grow{
    0%{
        height: 0vh;
    }
    100%{
        height: 35vh;
    }
}

/*#region*/

main{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/portifolio-background.png);
    background-repeat: no-repeat;
    background-position: left end;
    scroll-snap-type: y mandatory;
    animation: anima 7s alternate infinite;
    background-attachment: fixed;
}
#main-filter{
    position: absolute;
    width: 100%;
    height: 210%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
section{
    position: sticky;
    top: 0;
    left: 0;
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-screen-content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .perfil-message{
    width: 13.2pc;
}
header .perfil-message .line-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .perfil-message .line-one img{
    width: 50px;
    cursor: pointer;
}
header .perfil-message .line-two{
    width: 300px;
}
header .header-bar{
    width: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-bar a{
    text-decoration: none;
    transition: all 0.2s;
    overflow: hidden;
    position: relative;
}
header .header-bar a:hover{
    color: var(--red);
}
header .header-bar a:active{
    color: white;
}
header .header-bar a:after{
    position: absolute;
    transition: 0.3s;
    content: '';
    left: 0;
    bottom: auto;
    top: -3px;
    width: 0%;
    height: 2px;
    background: var(--red);
    border-radius: 5px;
}
header .header-bar a:hover:after{
    width: 100%;
}
header .header-bar a:active:after {
    top: calc(100% - 3px);
    background-color: white;
}
header .header-bar h2{
    cursor: pointer;
    font-size: 25px;
}
header .header-bar #header-image{
    cursor: pointer;
    width: 65px;
    height: 70px;
}
.main-message{
    width: 60%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-message b{
    color: var(--red);
}
section#about-me{
    background-color: var(--background);
}
section .about-me-content{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .about-me-content .perfil-photo{
    width: 30%;
    height: 60%;
}
section .about-me-content .perfil-photo img{
    width: 100%;
    height: 100%;
}
section .about-me-content .about-me-message{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

/*#endregion*/

/*#region*/

section#services{
    background-color: var(--background);
}
section#services .services-content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section#services .services-content .services-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
section#services .services-content p{
    text-align: center;
}
section#services .services-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55%;
}
section#services .services-cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
}
section#services .services-cards .card h4{
    text-align: center;
}
section#services .services-cards .card img{
    width: 100px;
    cursor: pointer;
}

/*#endregion*/

/*#region*/

section#projects{
    background-color: var(--projects-background);
}
section#projects .projects-content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section#projects .projects-content .projects-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}
section#projects .projects-content .projects-title .message{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section#projects .projects-content .projects-cards{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
section#projects .projects-content .projects-cards a{
    display: flex;
    align-items: center;
    justify-content: center;
}
section#projects .projects-content .projects-cards img{
    width: 90%;
    height: 70%;
    border: 3px solid var(--red);
}
section#projects .projects-content .projects-cards .project-filter{
    position: absolute;
    width: 26.5%;
    height: 20.7%;
    backdrop-filter: blur(0px);
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section#projects .projects-content .projects-cards .project-filter .filter-content{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
section#projects .projects-content .projects-cards .project-filter .filter-content .github-project-button{
    background-color: black;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    opacity: 0%;
    cursor: help;

    & i{
        font-size: 10px;
    }
}
section#projects .projects-content .projects-cards .project-filter .filter-content i{
    opacity: 0%;
    font-size: 20px;
    transition: all 0.5s;
}
section#projects .projects-content .projects-cards .project-filter p{
    transition: all .5s;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    opacity: 0%;
}
section#projects .projects-content .projects-cards a:hover .project-filter{
    & p{
        opacity: 100%;
        font-size: 20px;
    }
    & i{
        opacity: 100%;
        font-size: 40px;
    }
    & .github-project-button i{
        font-size: 30px;
    }
    & .github-project-button{
        opacity: 100%;
    }
}
.academia{
    color: #f07421;
}
.fastask{
    color: #228BE6;
}
.unity{
    color: white;
}
.modern-software{
    animation: changeColor 26s infinite;
}
section#projects .projects-content .projects-cards a:hover .project-filter{
    position: absolute;
    backdrop-filter: blur(10px);
}
section#projects .projects-content .projects-cards a:hover img{
    border: 3px solid var(--dark-red);
}

/*#endregion*/

/*#region*/

footer{
    position: absolute;
    width: 100%;
    height: 60vh;
}
footer .footer-one{
    width: 100%;
    height: 70%;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer .footer-one h3 span{
    color: var(--background);
    border-bottom: 3px solid var(--background);
}
footer .footer-one button{
    background-color: var(--gray-one);
}
footer .footer-one button:hover{
    background-color: var(--gray-two);
}
footer .footer-two{
    width: 100%;
    height: 30%;
    background-color: var(--footer);
    display: flex;
    justify-content: center;
}
footer .footer-content{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer-content #logo{
    width: 17%;
    cursor: pointer;
}
footer .footer-content #logo img{
    width: 100%;
}
footer .footer-content #contacts{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footer-content #contacts img{
    cursor: pointer;
}

/*#endregion*/

/*#region*/

#contact-screen{
    position: absolute;
    background-image: url(../images/portifolio-background.png);
    background-position: left end;
    background-repeat: no-repeat;
    animation: anima 10s alternate infinite;
    width: 100%;
    height: 100%;
}
#contact-screen .contact-filter{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
#contact-screen .exit-line{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#contact-screen .exit-line #exit-button{
    font-size: 50px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}
#contact-screen .contact-content{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-screen .contact-content #contact-card{
    background-color: var(--background);
    width: 400px;
    height: 90%;
    border: 3px solid var(--dark-red);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    gap: 20px;
}
#contact-screen .contact-content #contact-card .contact-options{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#contact-screen .contact-content #contact-card .contact-options i{
    color: var(--footer);
    font-size: 40px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}
#contact-screen .contact-content #contact-card .contact-options i:hover{
    border: 1px solid var(--gray-one);
}
#contact-screen .contact-content #contact-card .contact-options-content{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-screen .contact-content #contact-card .contact-options-content img{
    width: 200px;
    border-radius: 50%;
    border: 3px solid var(--dark-red);
}
#contact-screen .contact-content #contact-card .contact-options-content button{
    background-color: var(--gray-one);
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}
.contact-selected{
    color: var(--red) !important;
    border: 2px solid var(--gray-one) !important;
    background-color: var(--gray-two) !important;
}
.line-contact{
    width: 95%;
}
.options{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.options#email-content{
    height: 100%;
}
#contact-screen .contact-content #contact-card .contact-options-content #instagram-content button{
    background: linear-gradient(to right, #f07421, #ed342b, #d1217f);
}
#contact-screen .contact-content #contact-card .contact-options-content #whatsapp-content button{
    background-color: #29a71a;
}
#contact-screen .contact-content #contact-card .contact-options-content #linkedin-content button{
    background-color: #0277b5;
}
#contact-screen .contact-content #contact-card .contact-options-content #linkedin-content button a{
    color: var(--background);
}
#contact-screen .contact-content #contact-card .contact-options-content #github-content button{
    background-color: black;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content button{
    width: 102%;
    color: black;
    background-color: var(--dark-red);
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content p{
    font-size: 15px;
    position: absolute;
    color: var(--red);
    margin: 29px 0px 0px 10px;
    transition: all 0.3s;
    font-weight: bold;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content p#to-p{
    margin: 0px;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content #message-container{
    height: 130px;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content textarea{
    width: 99%;
    height: 100%;
    resize: none;
    background-color: var(--gray-two);
    margin-top: 20px;
    padding: 10px 0px 10px 10px;
    overflow: hidden;
    border-radius: 5px;
    border: none;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content input{
    background-color: var(--gray-two);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    margin-top: 20px;
}
#contact-screen .contact-content #contact-card .contact-options-content #email-content input:focus, textarea:focus{
    outline: 1px solid var(--dark-red);
}

/*#endregion*/