body{
    --background: #020202;
    --red: #DA0D2B;
    --dark-red: #8C0614;
    --projects-background: #080808;
    --gray-one: #18191D;
    --gray-two: #1D1E22;
    --footer: #FAFAFA;
}
.academia-theme{
    --theme: #f07421;
}
.fastask-theme{
    --theme: #228BE6;
}
.unity-theme{
    --theme: #2196f3;
}
.consul-theme{
    --theme: #408CFF;
}
.alura-studies-theme{
    --theme: #88bcd1;
}
.software-theme{
    --theme: white;
    --software-anima: changeColor 26s infinite;
}
#whatsapp-theme{
    --theme: #00FF38; 
}
#email-theme{
    --theme: #9b2626; 
}
#linkedin-theme{
    --theme: #0277b5;
}
#github-theme{
    --theme: var(--gray-two);
}
#instagram-theme{
    --theme: #d1217f;
    --instagram-gradient: linear-gradient(to right, #f07421, #ed342b, #d1217f);
}
#phone-theme{
    --theme: #ff0;
}