body{
    --background: #020202;
    --red: #DA0D2B;
    --dark-red: #8C0614;
    --projects-background: #080808;
    --gray-one: #18191D;
    --gray-two: #1D1E22;
    --footer: #FAFAFA;
}
.academia-theme{
    --theme: #f07421;
}
.fastask-theme{
    --theme: #228BE6;
}
.unity-theme{
    --theme: #2196f3;
}
.consul-theme{
    --theme: #408CFF;
}
.software-theme{
    --theme: white;
    --software-anima: changeColor 26s infinite;
}