body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    margin-top: 20px;
    width: 90%;
}
section#services{
    background-color: var(--background);
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#services .services-content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section#services .services-content .services-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
section#services .services-content p{
    text-align: center;
}
section#services .services-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55%;
}
section#services .services-cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
}
section#services .services-cards .card h4{
    text-align: center;
}
section#services .services-cards .card img{
    width: 100px;
    cursor: pointer;
}